body,
html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 1%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.titlebar {
    margin-left: 2vh;
    /* Add left margin to the title element */
    margin-right: 2vh;
    /* Add right margin to the navigation element */
    backdrop-filter: blur(1px);
}


.section {
    position: absolute;
    font-size: 26%;
}

.parallax {
    position: inherit;
    /* The image used */
    background-image: url('/img/underwater-ux-banner-1200px.png');
    background-image: url("https://via.placeholder.com/1920x1080.png");

    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.odd {
    background-color: rgb(177, 177, 177);
}

.even {
    background-color: rgb(120, 120, 120);
}


.copy {
    margin: 0 2% 0 2%;
}

.copy.copy2 {
    margin: 0 0% 0 0%;  
}

.copy12a {
    position: relative;
}


.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10, .section11, .section12 {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}

.section1 {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 0%;
   ;
}

.columns {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 80%;
    /* Adjust the width to fill the available space */


}

.section1b.copy.columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    /* Center the columns horizontally */
}

.child-title {

  }
  

.section2 {
    height: auto;
    width: 100%;
}

.section6 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

.section11 {
display: flex;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
align-content: center;
width: 100%;
text-align: left;
margin: 0 auto;
}

.section12 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    }



.column1, .column2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-basis: 10vh;
    /* Set the initial width for columns */
    flex-grow: 1;
    /* Allow columns to grow to fill available space */

}

span {
    font-weight: 900;
    font-size: 160%;
}

.copy-quote1 {
    position: relative;
    max-width: 40%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.placeholder.two, .placeholder.three, .placeholder.four, .placeholder.five, .placeholder.six, .placeholder.seven, .placeholder.eight, .placeholder.nine, .placeholder.ten, .placeholder.eleven, .placeholder.twelve {
    position: relative;
    top: 0px;
    right: 0px;
    width: auto;
    height: 100%;
    
}

.placeholder.two {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow:hidden;
}

.placeholder.three, .placeholder.four, .placeholder.five {
    width: auto;
    height: 80%;
    right: 2%;
}
.placeholder.six {
    width: auto;
    height: 80%;

}

.placeholder.twelve {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    height: 40%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 80%;
    text-align: center;
    margin: 10% auto;
}

@media only screen and (max-width: 900px) {
    .section1b.copy.columns, .section8a.copy.columns {
      flex-direction: column;
    }

    .section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10, .section11, .section12 {
        height: 140vh;
        width: 100%;
        flex-direction: column;
        padding: 5%;
    }
  }