body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;

}

.navbar {
    position:fixed;
    top:0;
    margin: 0;
    padding-left: 2vh;
    height: 5vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 1%, rgba(255,255,255,0.5)30%, rgba(255,255,255,0) 100%);    
    backdrop-filter: blur(1px);
    display: flex;
align-items: center;
}

.section {
    position: absolute;
    font-size: 26px;
}

.parallax {
    position: inherit;
    /* The image used */
    background-image: url("https://via.placeholder.com/150x150.png");
background-image: url('/img/underwater-ux-banner-1200px.png');
    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 

.odd {
    background-color: rgb(177, 177, 177);
}

.even {
    background-color: rgb(120, 120, 120);
}

.section1 {
height: 30vh;
column-count: 2;
column-gap: 5vh;
}


.section2,.section3, .section4, .section5, .section6,.section7, .section8, .section9, .section10,.section11, .section12 {
height: 50vh;	
width:100%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
align-content: center;
gap: 0%;
}

.copy {
    margin: 0 20% 0 20%;
}


.placeholder.two, .placeholder.three, .placeholder.four, .placeholder.five, .placeholder.six, .placeholder.seven, .placeholder.eight, .placeholder.nine, .placeholder.ten, .placeholder.eleven, .placeholder.twelve{
    position: relative;
    top: 0px;
    right: 0px;
    width: auto;
    height: 100%;


}


