

/* This relates to animation.html test page */

.body {background-color: rgb(0,50,0);}

.title {
  border-top: 25px solid transparent;
  border-left: 50px solid rgb(0,200,0);
  border-bottom: 25px solid transparent;
  left: 50px;
  top:60px;
}

.animationland {
  left:10%;
}
.plane{
	  position: absolute;
	  animation: monFrame 5s ease 2s 2;
	}

	@keyframes monFrame {
	  0%   {left:50px; top:60px;
    transform: rotate(0deg);}
	  25%  {left:700px; top:60px;
    transform: rotate(0deg);}
    26%   {
      transform: rotate(90deg);}
	  50%  {left:700px; top:110px;
    transform: rotate(90deg);}
	  51%  {transform: rotate(180deg);}
    75%  { left:50px; top:110px;
    transform: rotate(180deg);}
    100% {left:50px; top:60px;
    transform: rotate(360deg);}
     }


 .copy{
   padding-left:60px;
   padding-top: 20%;
   padding-bottom: 20%;
 }


 .copy1 {
  
    border: 1px solid rgba(160, 160, 160, .4);
    font-family: "Helvetica", Sans-Serif;
    height:50px;
    width:200px;
    background: #A2E4B8;
      -webkit-filter: drop-shadow(3px 3px 3px rgb(128, 128, 128) );
    margin:50px;
    padding: 10% 10% 10% 10%;
    text-align:center;
  }

  .copy2 {
  
    border: 1px solid rgba(190, 214, 169, 0.4);
    font-family: "Helvetica", Sans-Serif;
    height:50px;
    width:200px;
    background: #A2E4B8;
      -webkit-filter: drop-shadow(3px 3px 3px rgb(128, 128, 128) );
    margin:50px;
    padding: 10% 10% 10% 10%;
    text-align:center;
  }


/* Header */
html {
  background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6));
  background-color: #FFFA02;
  animation: rgb 6s infinite alternate;
  height: 100%;
  width: 100%;
}

@keyframes rgb {
  10% {
    background-color: #FF6B02;
  }
  20% {
    background-color: #FF0602;
  }
  30% {
    background-color: #FF0289;
  }
  40% {
    background-color: #BF02FF;
  }
  50% {
    background-color: #022CFF;
  }
  60% {
    background-color: #02BFFF;
  }
  70% {
    background-color: #02FFBB;
  }
  80% {
    background-color: #02FF28;
  }
  90% {
    background-color: #63FF02;
  }
  100% {
    background-color: #C8FF02;
  }
}

h1 {
  color: #fff;
  font-family: 'Life Savers', cursive;
  font-size: 30pt;
  font-weight: bold;
  margin-top: 25%;
  text-align: center;
}

 /* button cta */

 .cta {
  position: absolute;
    background-color:#000;
    font-family: Roboto-regular;
    font-size: 20;
    text-align: center;
       color: rgba(0, 0,0, 0.8);
    border-radius: 25px;
    height: auto;
    width: 25%;
    margin: 0 auto;
    padding:15px;
    left: 0px;
    right: 0;
    animation-name: slidein;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  
  @keyframes slidein { 
    from {
      opacity: 1;
         color: #fff;
    }
    50% {
      opacity: 0.4;
         color: rgb(85, 221, 255);
    }  
    to {
      opacity: 1;
         color: #fff;
    }}


svg {
      left: 6px;
      width: 20px;
    }

svg {
      transform: rotate(0deg);
      margin: 0 auto;
      display: flex;
      flex-direction: column;

    }

  }

