@font-face { font-family: 'GothamBook'; src: url(https://play2.s3.amazonaws.com/assets/2EDeDAkp5.woff) format('woff'); }

@font-face { font-family: 'Gotham-Bold'; src: url(https://play2.s3.amazonaws.com/assets/UxVvmO8zY.woff) format('woff'); }

@font-face { font-family: 'Avenir'; src: url(https://play2.s3.amazonaws.com/assets/JUOIseM_o.ttc) format('ttc'); }


img {
    width:100%;
}

.img1 {
    position: absolute;
    left: 0;
    width:100%;

}





.container1 {
    position: absolute;
    width: 100%;

 


}

