

/* This relates to animation.html test page */

div {
  font-family: Arial, Helvetica, sans-serif;
left:0;
right: 0;
  margin: 0 auto;
  top:50px;
}

.body {background-color: rgb(0,50,0);}

.title {
  border-top: 25px solid transparent;
  border-left: 50px solid rgb(0,200,0);
  border-bottom: 25px solid transparent;
  left: 50px;
  top:60px;
}

.animationland {
  left:10%;
}
.plane{
	  position: absolute;
	  animation: monFrame 5s ease 2s 2;
	}

	@keyframes monFrame {
	  0%   {left:50px; top:60px;
    transform: rotate(0deg);}
	  25%  {left:700px; top:60px;
    transform: rotate(0deg);}
    26%   {
      transform: rotate(90deg);}
	  50%  {left:700px; top:110px;
    transform: rotate(90deg);}
	  51%  {transform: rotate(180deg);}
    75%  { left:50px; top:110px;
    transform: rotate(180deg);}
    100% {left:50px; top:60px;
    transform: rotate(360deg);}
     }


 .copy{
   padding-left:60px;
   padding-top: 20%;
   padding-bottom: 20%;
 }


 .copy1 {
  position: absolute;
 top: 20%;
 margin:50px;
  }

  .copy2 {
  
    border: 1px solid rgba(190, 214, 169, 0.4);
    font-family: "Helvetica", Sans-Serif;
    height:50px;
    width:200px;
    background: #A2E4B8;
      -webkit-filter: drop-shadow(3px 3px 3px rgb(128, 128, 128) );
    margin:50px;
    padding: 10% 10% 10% 10%;
    text-align:center;
  }

  .copy3 {
    position: absolute;
    border: 1px solid rgba(190, 214, 169, 0.4);
    font-family: "Helvetica", Sans-Serif;
    height:auto;
    width:400px;
    background: #000080;
      -webkit-filter: drop-shadow(3px 3px 3px rgb(128, 128, 128) );
    margin:50px;
    padding: 10% 10% 10% 10%;
    text-align:center;
    top: 300px;
    left:0;
    right:0;
    margin: 0 auto;
    color: #fff;
  }

/* Header */
html {    cursor: crosshair;

  background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6));
  background-color: #FFFA02;
  animation: rgb 6s infinite alternate;
  height: 100%;
  width: 100%;
}

@keyframes rgb {
  10% {
    background-color: #02c4ff;
  }

  
  50% {
    background-color: #5ac5ff;
  }
  60% {
    background-color: #02BFFF;
  }
  70% {
    background-color: #00a6c3;
  }
  80% {
    background-color: #02b7ff;
  }
  90% {
    background-color: #02c8ff;
  }
  100% {
    background-color: #025fff;
  }
}

h1 {
  color: #fff;
  font-family: 'Life Savers', cursive;
  font-size: 30pt;
  font-weight: bold;
  margin-top: 25%;
  text-align: center;
}

 /* button cta */
.card {
  position: absolute;
  align-items: center;
  left:0;
  right:0;
  height:50px;

  border: 1px solid rgba(160, 160, 160, .4);
  font-family: "Helvetica", Sans-Serif;
  background: #A2E4B8;
    -webkit-filter: drop-shadow(3px 3px 3px rgb(128, 128, 128) );
  margin: 0 auto;
  padding: 10% 10% 10% 10%;
  text-align:center;
  font-weight: 900;
}
 .cta {    
   position: absolute;
   cursor: crosshair;
    background-color:#000;
    font-family: Roboto-regular;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.98);
    border-radius: 25px;
    height: auto;
    width: 35%;
    margin: 0 auto;
    padding:15px;
    left: 0px;
    right: 0;
    top:23%;
    animation-name: slidein;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  
  @keyframes slidein { 
    from {
      background-color: rgba(0, 0,0, 0.9);
    }
    50% {
      background-color: rgba(0, 0, 0, 0.7);
    }  
    to {
      background-color: rgba(0, 0,0, 0.9);
    }}


.svg {
position: absolute;
  left:0;
  right: 0;
    margin: 0 auto;
          width: 20px;
          top:5%;

    }





