body,
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;

}


a {
  color: black;
}

.logo {
  width: 5%;
  height: auto;
  padding: 5%;

}

.navbar {
  top: 0;
  width: 100%;

}


.headline {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  top: 0px;
  left: 2%;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  display: inline-block;
  display: flex;
  padding: 16px 0;
  width: auto;



}


.fas {
  top: 0;

}

ul {
  list-style-type: none;
  right: 0;
  margin: 0;

  padding: 8% 0px 0px;
  display: flex;
  align-items: baseline;
}



ul il {
  display: flex;
  flex-direction: column;
}

.navtoggle.responsive ul {
  display: flex;
  flex-direction: row;
}


.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}


ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav>ul {
  padding-left: 0;
}

.navtoggle>ul>li:not(:last-child) {
  display: none;
  padding: 0 10px;
}

.navtoggle>ul>li:last-child {
  position: absolute;
  top: 4px;
  right: 20px;
}

.navtoggle.responsive>ul>li:not(:last-child) {
  display: block;
}

/* unvisited link */
a:link {

  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;

}

/* mouse over link */
a:hover {
  text-decoration: none;

}

/* selected link */
a:active {
  text-decoration: none;
}

.hr {
  border-top: 1px solid orangered;
  font-size: large;
  width: 100%;
  height: 10px;
  transform: translate(0, -90%);
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: #ff5a00;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: var(--button-transition-duration);
  transition-timing-function: ease-in-out;
  transition-delay: var(--button-transition-duration);
  overflow: hidden;
  white-space: break-spaces;
  text-align: left;
  border-radius: 50px;

}

.cta.socialicons {
  background-color: transparent;
  border: none;
}

/* header and footer */
header {
  width: 100%;
  background-color: #00ff11;
  padding: 0px 0px 0px;
  margin: 0px;
  border-bottom: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 1%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 100%);
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
  z-index: 1;
}




.section {
  position: relative;
  font-size: 26%;
}

.parallax {
  position: inherit;
  /* The image used */
  background-image: url('../img/background/2023-ux-cover-10juli-circle-m.png');
  /* Set a specific height */
  min-height: 100vh;
  width: auto;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  scale: 1.1;

}

.parallaxbg {
  position: absolute;
  /* The image used */

  background: rgb(146, 226, 255);
  background: rgb(146, 226, 255);
  background: rgb(146, 226, 255);
  background: linear-gradient(0deg, rgb(146, 179, 255) 17%, #7fcaff 59%, rgb(114, 114, 114) 65%);
  background-size: 400% 400%;


  -webkit-animation: colorchange 40s ease infinite;
  -moz-animation: colorchange 40s ease infinite;
  animation: colorchange 40s ease infinite;

  /* Set a specific height */
  min-height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: -1;
}


@-webkit-keyframes colorchange {
  0% {
    background-position: 0% 50%;
    transform: translate(0deg);
  }

  50% {
    background-position: 100% 50%;
    transform: translate(150deg);
  }

  100% {
    background-position: 0% 50%;
    transform: translate(0deg);
  }
}

@-moz-keyframes colorchange {
  0% {
    background-position: 0% 50%;
    transform: translate(0deg);
  }

  50% {
    background-position: 100% 50%;
    transform: translate(150deg);
  }

  100% {
    background-position: 0% 50%;
    transform: translate(0deg);
  }
}

@keyframes colorchange {
  0% {
    background-position: 0% 50%;
    transform: translate(0deg);
  }

  50% {
    background-position: 100% 50%;
    transform: translate(150deg);
  }

  100% {
    background-position: 0% 50%;
    transform: translate(0deg);
  }
}

.headertitle {
  position: absolute;
  top: 46vh;
  left: 3%;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3.5vh;
  font-weight: 400;

}



.odd {
  background-color: rgb(177, 177, 177);
  background-color: #ff5a00;
  background-color: #ffa33a;
  background-color: transparent;

}

.even {
  background-color: rgb(120, 120, 120);
  background-color: #c8c8c8;
  background-color: transparent;

}

.sectioncopy {
  width: 90%;
  font-weight: 100;
}

.copy {
  margin: 0 2% 0 2%;
  width: 40vh;
  font-size: 2.5vh;
}

h2 {
  font-size: 2.5vh;
}

.copy.copy2 {
  margin: 0 0% 0 0%;
}

.copy.about {
  width: 40vh;
  display: flex;
  flex-direction: column;

}



.copy12a {
  position: relative;
}

.copy12b {
  position: relative;
  font-size: 26px;
  font-weight: 900;
}



.section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10, .section11, .section12 {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

}

.section1 {
  position: relative;
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.section2 {
  width: 100%;
  height: auto;

}




 .section7 {
  background-color: #ececec;

}

.section8 {
  display: none;
}

.section11 {
  padding: 0 0 0 5%;
}

.columns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  width: 80%;
  /* Adjust the width to fill the available space */


}

.section1b.copy.columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  /* Center the columns horizontally */
}

.section6 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  text-align: left;
  margin: 0 auto;
}




.section12 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5% 0 0 0;
  background-color: #ececec;;
}



.column1, .column2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 50vw;

}

span, p {
  font-weight: 900;
  font-size: 4vh;
}



.copy.quote1 {
  position: relative;
  max-width: 40%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 2.5vh;
}

.placeholder.two, .placeholder.three, .placeholder.four, .placeholder.five, .placeholder.six, .placeholder.seven, .placeholder.eight, .placeholder.nine, .placeholder.ten, .placeholder.eleven, .placeholder.twelve, .placeholder.thirteen, .placeholder.fourteen {
  position: relative;
  top: 0px;




}

.placeholder.two {
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  margin: 0 auto;


}

.placeholder.three, .placeholder.four, .placeholder.five {
  width: auto;
  height: 40vw;
  right: 0%;
  border-radius: 12px;
  -webkit-filter: drop-shadow(5px 5px 15px #66666658);
  filter: drop-shadow(5px 5px 15px #66666658);
}


.placeholder.seven {
  width: auto;
  height: 40vw;
  padding: 0 10% 0 0;
}

.placeholder.six {
  width: auto;
  height: 37vw;
  padding: 0 0% 0 0;
  border-radius: 5px;
  box-shadow: 0px 43px 37px -17px rgba(0, 0, 0, 0.25);
}

.placeholder.placeholder.seven {
  width: auto;
  height: 58vh;
  padding: 0 0% 0 0;
  -webkit-filter: drop-shadow(0px 43px 37px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 43px 37px 37px rgba(0, 0, 0, 0.25));
}

.placeholder.nine {
  width: auto;
  height: 40vw;
  padding: 0 0% 0 0;
  border-radius: 0 5px 5px 0;
  -webkit-filter: drop-shadow(3px 63px 47px rgba(0, 0, 0, 0.265));
  filter: drop-shadow(0px 43px 37px 37px rgba(0, 0, 0, 0.25));
}

.placeholder.ten {
  width: auto;
  height: 40vw;
  padding: 0 0% 0 0;
  border-radius: 5px;
  -webkit-filter: drop-shadow(3px 63px 47px rgba(0, 0, 0, 0.265));
  filter: drop-shadow(0px 43px 37px 37px rgba(0, 0, 0, 0.25));

}

.placeholder.eleven {
  width: auto;
  height: 30vw;
  margin: 0% auto;
}

.containertwelve {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);

}

.placeholder.twelve {
  width: 80%;
  height: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  filter: drop-shadow(5px 10px 1px #0000003d);
}

.contact {
  position: relative;
  top: 8%;
  left: 0%;
  right: 0;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 100;
}


.placeholder.thirteen, .placeholder.fourteen {
  border-radius: 10px;
  width: 10vh;
  height: auto;
}

.sketchwire {
  height: 38vh;
  width: auto;

}

.sketchvr {
  height: 38vh;
  width: auto;
  scale: 1.3;
  transform: translate(0, -3vh);
}

.social {
  position: relative;
  width: 20%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 0% 10% 10% 10%;
  gap: 20%;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 0;
  }

  .navtoggle li:last-child {
    display: none;

  }

  .navtoggle>ul>li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle, .navtoggle.responsive {
    position: absolute;
    right: 2%;

  }



}

/* ==============================
Small devices (900px and smaller)
================================= */


@media only screen and (max-width: 900px) and (orientation: portrait) {
  .navtoggle.responsive ul {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .navtoggle, .navtoggle.responsive {
    position: absolute;
    right: 2%;
    top: 32%;
  }

  .headertitle {
    position: absolute;
    top: 30vh;
    left: 3%;
    right: 0;
    margin: 0 auto;
    font-size: 1.6vh;
    font-weight: 400;

  }

  .section1b.copy.columns, .section8a.copy.columns {
    flex-direction: column;
  }

  .section1, .section2, .section3, .section4, .section5, .section6, .section7, .section8, .section9, .section10, .section11, .section12 {
    position: relative;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 5% 0 0 0;
    gap: 5%;
  }

  .section1 {
    height: 140vh;
    width: 100%;
    right: 0px;
    left: 0;
    margin: 0 auto;

    flex-direction: column;
    padding-top: 10vh;

  }

  .section2 {
    height: auto;
    padding: 0%;
  }

  .section6 {
    height: 100vh;
    width: 100%;
    flex-direction: column-reverse;
    padding: 0% 0 0 0;
    gap: 5%;
  }

  .section7 {
    height: 180vh;
    width: 100%;
    flex-direction: column-reverse;
    padding: 0% 0 0 0;
    gap: 5%;
  }

  .section9 {
    height: 140vh;
    width: 100%;
  }

  .section10, .section11 {
    height: 90vh;
    width: 100%;
    flex-direction: column-reverse;
  }

  .section12 {
    height: 110vh;
  }

  .copy.quote1 {
    position: relative;
    max-width: 80%;
    font-size: 2vh;

  }

  .copy {
    margin: 0 2% 0 2%;
    width: 70%;
    font-size: 2.5vh;
  }

  .about {
    width: 40%;
    display: flex;
    flex-direction: column;

  }

  span, p {

    font-size: 3vh;
  }


  .placeholder.one, .placeholder.three, .placeholder.four, .placeholder.five, .placeholder.six, .placeholder.seven, .placeholder.eight, .placeholder.nine, .placeholder.ten, .placeholder.eleven, .placeholder.twelve {
    position: relative;
    width: auto;
    height: 70vw;
    top: 0px;
    right: 0px;
    left: 0;
    margin: 0 auto;
  }




  .placeholder.six {
    border-radius: 5px;
  }

  .placeholder.seven {
    margin: 10% auto 0%;
  }

  .placeholder.nine {
    border-radius: 12px;
  }

  .placeholder.eleven {
    width: auto;
    height: 60vw;
    margin: 5% auto 0%;
  }

  .placeholder.thirteen, .placeholder.fourteen {
    border-radius: 20px;
  }

  .sketchwire {
    height: 7vh;
    width: auto;
padding-top: 20vh;
    scale: .8;
  }

  .sketchvr {
    scale: 1;
  }

  .headline {
    position: relative;
    width: 40%;
    font-size: 14px;
  }

  .column1, .column2 {
    width: 80vw;
  }

  .parallax {
    position: inherit;
    /* The image used */


    /* Set a specific height */
    min-height: 40vh;
    width: auto;
    padding-top: 20vh;
    /* Create the parallax scrolling effect */
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 10%;
    scale: 10vh;
  }


  .parallaxbg {
    /* Set a specific height */
    min-height: 60vh;
    padding-top: 0vh;
    

  }

}